//fonts
//font-family: 'Open Sans', sans-serif;
//font-family: 'Ribeye Marrow', cursive;

.fotopagina {
    background-color: rgb(49, 45, 45)
   }
  
.homepage {
    background: url(../img/tom-crew-01.jpg) center/cover;
}

.menu {
    background: url(../img/tom-crew-01.jpg) center/cover;
    min-height: 100vh;
}

.card-deck {
    justify-content: space-around;
}

.sociale-media {
    font-size: 1.9rem;
}

.jumbotron {
    background-color:rgba(233, 236, 239, 0.5) ;
  }
  
// .menulijsten {
    // min-height: 30rem;
//}

// .py-6 {
//     ul {
//         margin: 2em 0 4em 0;
//     }
// }

// @media (min-width:768px) {
//     .homepage {
//         height: 100vh;
//     }

label {
    color: white;
}

.page-item,
.page-link {
  background-color: transparent; 
  color: white;
}
.page-item.active .page-link{
  background-color: grey ;
}